<!--
  Generated template for the PostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Posts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor= 'let post of posts | async' (click)='navigateToDetail(post.id)'>
    <ion-card-header>
      <ion-card-title>
        {{post.id}} - {{post.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{post.body}}</p>
      <p>{{post.userId}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
